body{
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    font-size: 24px;
   
    margin-top: 10px;
    margin: left 10%; ;}
    .heading{color: blueviolet;
        font-style: italic;
    border-style: dotted;
    border-width: 5px;
    border-color: blueviolet;}

